# Dependencies
node_modules/
.pnpm-store/

# Build output
dist/
build/
*.tsbuildinfo

# Expo
.expo/
.expo-shared/
web-build/
*.orig.*

# Native
android/
ios/
!app/app/room/

# Env & secrets
.env
.env.local
*.local

# Logs
*.log
npm-debug.*
yarn-debug.*
yarn-error.*

# OS
.DS_Store
Thumbs.db

# Editor
.idea/
.vscode/*
!.vscode/extensions.json
